<!DOCTYPE html>
<html>
<head>
  <title>Wigglez</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
</head>
<body>

<!-- NAV BAR -->
<nav class="nav">
  <ul class="nav-list">
      <li><%= link_to "Wigglez", root_path %></li>&nbsp;&nbsp;<span id="nav-line">|</span>&nbsp;
      <li><%= link_to "Contact Us", contact_us_path %></li>&nbsp;&nbsp;<span id="nav-line">|</span>&nbsp;
      <li><a href="http://www.twitter.com"><i class="ion-social-twitter"></i></a></li>
      <li><a href="http://www.facebook.com"><i class="ion-social-facebook"></i></a></li>
      <li><a href="https://github.com/GreeKatrina/Wigglez"><i class="ion-social-github"></i></a></li>
  </ul>
</nav>

<div class="wrapper">
  <div class="about-us-wrapper">
    <div class="about-us-pic-div">
      <%= image_tag "about-us-pic.jpg", class: "about-us-pic" %>
    </div>
    <div class="about-us-content">
      <h1>
        Founder:<br>
        Katrina Theodosopoulos <span>(right)</span>
      </h1>
      <p>
        The idea for Wigglez came to me after my mother was diagnosed with Breast Cancer in 2008. The cost of my mother's cancer treatments were very expensive, as most are today. I soon learned my mother had to buy special things, like makeup and clothing, because her body was so sensitive to everything. So, on top of all of these extra expenses, we found out that insurance companies typically do not pay for the cost of wigs because they don't consider them a "necessity". As a woman with a lot of hair, I really don't know what I would do if I had to walk around bald. I had no idea how expensive wigs could be until I had to shopping for one with my mother.<br><br>
        People going through cancer are already insecure enough about their looks because their body is going through alot of stress brought on by the treatments. They shouldn't have to worry about the expenses of a wig during those tough times.<br><br>
        I wanted to make a website that allowed people to donate wigs to people currently going through cancer, but who cannot afford the cost of wigs. I know that after my mother was done with her cancer treatments she just put her wig in a drawer tucked away. Maybe some cancer survivors do not want to donate their wigs out of fear that they might get cancer again. I want to eliminate this fear and worry from all cancer survivors by making Wigglez.<br><br>
        Feeling beauitufl, especially while batteling cancer, is a necessity to me, as I'm sure it is most people. Please help us give wigs to cancer patients for free by donating your old wigs if you are cancer survivor, or if you are fortunate enough to not have cancer, feel free to buy a wig that you would wear and post it on our website.<br><br>
        Thank you to all the kind people who contribute to Wigglez, and I hope this website brings joy and happiness to the many people who have been diagnosed with cancer.
      </p>
    </div>
  </div>
</div>

</body>
</html>
