<!DOCTYPE html>
<html>
<head>
  <title>Wigglez</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
</head>
<body>

<!-- NAV BAR -->
<nav class="nav">
  <ul class="nav-list">
      <li><%= link_to "Wigglez", root_path %></li>&nbsp;&nbsp;<span id="nav-line">|</span>&nbsp;
      <li><%= link_to "Contact Us", contact_us_path %></li>&nbsp;&nbsp;<span id="nav-line">|</span>&nbsp;
      <li><a href="http://www.twitter.com"><i class="ion-social-twitter"></i></a></li>
      <li><a href="http://www.facebook.com"><i class="ion-social-facebook"></i></a></li>
      <li><a href="https://github.com/GreeKatrina/Wigglez"><i class="ion-social-github"></i></a></li>
  </ul>
</nav>

<div class="wrapper">
</div>

</body>
</html>
