<% @page_title = "Sign Up" %>

<!-- NAV BAR -->
<nav class="nav">
  <ul class="nav-list">
      <li><%= link_to "Wigglez", root_path %></li>&nbsp;&nbsp;<span id="nav-line">|</span>&nbsp;
      <li><%= link_to "About Us", about_us_path %></li>&nbsp;&nbsp;<span id="nav-line">|</span>&nbsp;
      <li><%= link_to "Contact Us", contact_us_path %></li>&nbsp;&nbsp;<span id="nav-line">|</span>&nbsp;
      <li><a href="http://www.twitter.com"><i class="ion-social-twitter"></i></a></li>
      <li><a href="http://www.facebook.com"><i class="ion-social-facebook"></i></a></li>
      <li><a href="https://github.com/GreeKatrina/Wigglez"><i class="ion-social-github"></i></a></li>
  </ul>
</nav>

<div class="wrapper">
    <h1>Sign Up</h1>
    <div class="form-wrapper" id="sign-up">
        <%= form_tag(sign_up_attempt_path, method: 'post') do %>

            <!-- Check if name format is correct -->
            <% if flash[:error] && flash[:error][:name] %>
                <p class='flash'>name <%=h flash[:error][:name][0] %></p>
            <% end %>
            <div class="field">
                <%= label_tag :name %><br>
                <%= text_field_tag :name %>
            </div>

            <!-- Check if email is already taken or if format is correct -->
            <% if flash[:error] && flash[:error][:email] %>
                <p class='flash'>email <%=h flash[:error][:email][0] %></p>
            <% end %>
            <div class="field">
                <%= label_tag :email %><br>
                <%= text_field_tag :email %>
            </div>

            <!-- Check if password format is correct -->
            <% if flash[:error] && flash[:error][:password] %>
                <p class='flash'>password <%=h flash[:error][:password][0] %></p>
            <% end %>
            <div class="field">
                <%= label_tag :password, "Password:" , class: "pass" %><br>
                <%= password_field_tag :password %>
            </div>

            <!-- Check if both passwords match -->
            <% if flash[:error] && flash[:error][:password_confirmation] %><br>
                <p class='flash'>password confirmation <%=h flash[:error][:password_confirmation][0] %></p>
            <% end %>
            <div class="field">
                <%= label_tag :password_confirmation, 'Confirm Password:', class: "confirm-pass" %><br>
                <%= password_field_tag :password_confirmation %>
            </div>

            <div class="actions"><%= submit_tag('submit') %></div>

        <% end %>
    </div>
</div>
