<% @page_title = "Sign Up" %>

<!-- NAV BAR -->
<nav class="nav">
  <ul class="nav-list">
      <li><%= link_to "Wigglez", root_path %></li>&nbsp;&nbsp;<span id="nav-line">|</span>&nbsp;
      <li><%= link_to "About Us", about_us_path %></li>&nbsp;&nbsp;<span id="nav-line">|</span>&nbsp;
      <li><%= link_to "Contact Us", contact_us_path %></li>&nbsp;&nbsp;<span id="nav-line">|</span>&nbsp;
      <li><a href="http://www.twitter.com"><i class="ion-social-twitter"></i></a></li>
      <li><a href="http://www.facebook.com"><i class="ion-social-facebook"></i></a></li>
      <li><a href="https://github.com/GreeKatrina/Wigglez"><i class="ion-social-github"></i></a></li>
  </ul>
</nav>

<div class="wrapper">
    <h1>Sign Up</h1>
    <div class="form-wrapper" id="sign-up">
        <%= form_tag(sign_up_attempt_path, method: 'post', :multipart => true) do %>

            <div class="flash-wrapper">
                <% if flash[:error] && flash[:error][:name] %>
                    <p class='flash'><span class="asterisk">*</span>name <%=h flash[:error][:name][0] %></p>
                <% end %>
                <% if flash[:error] && flash[:error][:email] %>
                    <p class='flash'><span class="asterisk">*</span>email <%=h flash[:error][:email][0] %></p>
                <% end %>
            </div>

            <div class="field">
                <%= label_tag :name %><br>
                <%= text_field_tag :name %>
            </div>

            <div class="field">
                <%= label_tag :email %><br>
                <%= text_field_tag :email %>
            </div>

            <div class="flash-wrapper">
                <% if flash[:error] && flash[:error][:password] %>
                    <p class='flash'><span class="asterisk">*</span>password <%=h flash[:error][:password][0] %></p>
                <% end %>
                <% if flash[:error] && flash[:error][:password_confirmation] %><br>
                    <p class='flash'><span class="asterisk">*</span>password confirmation <%=h flash[:error][:password_confirmation][0] %></p>
                <% end %>
            </div>

            <div class="field">
                <%= label_tag :password, "Password:" , class: "pass" %><br>
                <%= password_field_tag :password %>
            </div>

            <div class="field">
                <%= label_tag :password_confirmation, 'Confirm Password:', class: "long-label confirm-pass" %><br>
                <%= password_field_tag :password_confirmation %>
            </div>

            <div class="field">
                <%= label_tag :avatar, 'Accepted formats: .jpg, .jpeg, .png, .gif', class: "long-label" %>
                <%= file_field_tag :avatar %>
            </div>

            <div class="actions"><%= submit_tag('submit') %></div>

        <% end %>
    </div>
</div>
