<%= @page_title = "Sign In" %>

<!-- NAV BAR -->
<nav class="nav">
  <ul class="nav-list">
      <li><%= link_to "Wigglez", root_path %></li>&nbsp;&nbsp;<span id="nav-line">|</span>&nbsp;
      <li><%= link_to "About Us", about_us_path %></li>&nbsp;&nbsp;<span id="nav-line">|</span>&nbsp;
      <li><%= link_to "Contact Us", contact_us_path %></li>&nbsp;&nbsp;<span id="nav-line">|</span>&nbsp;
      <li><a href="http://www.twitter.com"><i class="ion-social-twitter"></i></a></li>
      <li><a href="http://www.facebook.com"><i class="ion-social-facebook"></i></a></li>
      <li><a href="https://github.com/GreeKatrina/Wigglez"><i class="ion-social-github"></i></a></li>
  </ul>
</nav>

<div class="wrapper">
        <h1>Sign in</h1>
        <div class="form-wrapper" id="sign-in">
            <%= form_tag(sign_in_attempt_path, method: 'post') do %>

                <!-- Check if email is not associated with a user -->
                <% if flash[:error] && !flash[:error][:password] && !flash[:error][:email] %>
                  <% flash[:error].each do |k,v| %>
                      <p class='flash'>Error: <%=h flash[:error][k][0] %></p>
                  <% end %>
                <% end %>

                <!-- Check if email format is correct -->
                <% if flash[:error] && flash[:error][:email] %>
                    <p class='flash'>email <%=h flash[:error][:email][0] %></p>
                <% end %>
                    <div class="field">
                        <%= label_tag :email %><br>
                        <%= email_field_tag :email %>
                    </div>

                <!-- Check if password is correct -->
                <% if flash[:error] && flash[:error][:password] %>
                    <p class='flash'>password <%=h flash[:error][:password][0] %></p>
                <% end %>
                    <div class="field">
                        <%= label_tag :password %><br>
                        <%= password_field_tag :password %>
                    </div>

                <div class="actions"><%= submit_tag "Log in" %></div>

            <% end %>
        </div>
</div>
