<% @page_title = "Post A Wig" %>
<div class="Post_Wig" id="form">

  <h1>Post A Wig</h1>
  <%= form_tag(user_wigs_path, method: 'post') do %>

      <div class="field">
          <%= label_tag :color %> :
          <%= select_tag 'color', options_for_select(wig_colors), {:include_blank => ""} %>
      </div>

      <div class="field">
          <%= label_tag :length %> :
          <%= select_tag 'length', options_for_select(wig_lengths), {:include_blank => ""} %>
      </div>

      <div class="field">
          <%= label_tag :gender %> :
          <%= select_tag 'gender', options_for_select(wig_genders), {:include_blank => ""} %>
      </div>

      <div class="field">
          <%= label_tag :material %> :
          <%= select_tag 'material', options_for_select(wig_materials), {:include_blank => ""} %>
      </div>

      <div class="field">
          <%= label_tag :construction %> :
          <%= select_tag 'construction', options_for_select(wig_constructions), {:include_blank => ""} %>
      </div>

      <div class="field">
          <%= label_tag :condition %> :
          <%= select_tag 'condition', options_for_select(wig_conditions), {:include_blank => ""} %>
      </div>

      <div class="field">
          <%= label_tag :retail_estimate %> :
          <%= text_field_tag :retail_estimate %>
      </div>

      <div class="field">
          <%= label_tag :size %> :
          <%= select_tag 'size', options_for_select(wig_sizes), {:include_blank => ""}  %>
      </div>

      <div class="field">
          <%= label_tag :texture %> :
          <%= select_tag 'texture', options_for_select(wig_textures), {:include_blank => ""} %>
      </div>

      <div class="field">
          <%= label_tag :style %> :
          <%= select_tag 'style', options_for_select(wig_styles), {:include_blank => ""} %>
      </div>
  <% end %>

</div>
