<% @page_title = "Post A Wig" %>

<!-- NAV BAR -->
<nav class="nav">
  <ul class="nav-list">
      <li><%= link_to "Home", root_path %></li>&nbsp;&nbsp;<span id="nav-line">|</span>&nbsp;
      <li><%= link_to "Profile", profile_path %></li>&nbsp;&nbsp;<span id="nav-line">|</span>&nbsp;
      <li><%= link_to "Log Out", log_out_path %></li>&nbsp;&nbsp;<span id="nav-line">
  </ul>
</nav>

<div class="wrapper">
    <h1>Post A Wig</h1>

      <div class="form-wrapper" id="post-wig">
          <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, class: name %>
          <% end %>
          <%= form_for :wig, method: :post, url: user_wigs_path do |f| %>
            <div class="form-row">
              <div class="field left">
                  <%= f.label "Color :" %><br>
                  <%= f.select 'color', options_for_select(wig_colors), class: "drop-down" %>
              </div>

              <div class="field right">
                  <%= label_tag "Length :" %> <br>
                  <%= f.select 'length', options_for_select(wig_lengths), class: "drop-down" %>
              </div>
            </div>

            <div class="form-row">
              <div class="field left">
                  <%= f.label "Gender :" %> <br>
                  <%= f.select 'gender', options_for_select(wig_genders), class: "drop-down" %>
              </div>

              <div class="field right">
                  <%= f.label "Material :" %> <br>
                  <%= f.select 'material', options_for_select(wig_materials), class: "drop-down" %>
              </div>
            </div>

            <div class="form-row">
              <div class="field left">
                  <%= f.label "Construction :" %> <br>
                  <%= f.select 'construction', options_for_select(wig_constructions), class: "drop-down" %>
              </div>

              <div class="field right">
                  <%= f.label "Condition :" %> <br>
                  <%= f.select 'condition', options_for_select(wig_conditions), class: "drop-down" %>
              </div>
            </div>

            <div class="form-row">
              <div class="field left">
                  <%= f.label "Size :" %> <br>
                  <%= f.select 'size', options_for_select(wig_sizes), class: "drop-down" %>
              </div>

              <div class="field right">
                  <%= f.label "Texture :" %> <br>
                  <%= f.select 'texture', options_for_select(wig_textures), class: "drop-down" %>
              </div>
            </div>

            <div class="form-row">
              <div class="field left">
                  <%= f.label "Style :" %> <br>
                  <%= f.select 'style', options_for_select(wig_styles), class: "drop-down" %>
              </div>

              <div class="field right">
                  <%= f.label "Retail estimate :" %> <br>
                  <%= f.number_field :retail_estimate %>
              </div>
            </div>

            <%= f.submit "Submit" %>
          <% end %>
    </div>

</div>
