<% @page_title = "Post A Wig" %>

<!-- NAV BAR -->
<nav class="nav">
  <ul class="nav-list">
      <li><%= link_to "Home", root_path %></li>&nbsp;&nbsp;<span id="nav-line">|</span>&nbsp;
      <li><%= link_to "Profile", profile_path %></li>&nbsp;&nbsp;<span id="nav-line">|</span>&nbsp;
      <li><%= link_to "Log Out", log_out_path %></li>&nbsp;&nbsp;<span id="nav-line">
  </ul>
</nav>

<div class="wrapper">
    <h1>Post A Wig</h1>
    <div class="form-wrapper" id="post-wig">
      <!-- Drop-down selections are in helpers/application_helper.rb -->
      <%= form_tag(user_wigs_path, method: 'post') do %>
        <div class="form-row">
          <div class="field left">
              <%= label_tag "Color :" %> <br>
              <%= select_tag 'color', options_for_select(wig_colors), class: "drop-down" %>
          </div>

          <div class="field right">
              <%= label_tag "Length :" %> <br>
              <%= select_tag 'length', options_for_select(wig_lengths), class: "drop-down" %>
          </div>
        </div>

        <div class="form-row">
          <div class="field left">
              <%= label_tag "Gender :" %> <br>
              <%= select_tag 'gender', options_for_select(wig_genders), class: "drop-down" %>
          </div>

          <div class="field right">
              <%= label_tag "Material :" %> <br>
              <%= select_tag 'material', options_for_select(wig_materials), class: "drop-down" %>
          </div>
        </div>

        <div class="form-row">
          <div class="field left">
              <%= label_tag "Construction :" %> <br>
              <%= select_tag 'construction', options_for_select(wig_constructions), class: "drop-down" %>
          </div>

          <div class="field right">
              <%= label_tag "Condition :" %> <br>
              <%= select_tag 'condition', options_for_select(wig_conditions), class: "drop-down" %>
          </div>
        </div>

        <div class="form-row">
          <div class="field left">
              <%= label_tag "Size :" %> <br>
              <%= select_tag 'size', options_for_select(wig_sizes), class: "drop-down" %>
          </div>

          <div class="field right">
              <%= label_tag "Texture :" %> <br>
              <%= select_tag 'texture', options_for_select(wig_textures), class: "drop-down" %>
          </div>
        </div>

        <div class="form-row">
          <div class="field left">
              <%= label_tag "Style :" %> <br>
              <%= select_tag 'style', options_for_select(wig_styles), class: "drop-down" %>
          </div>

          <div class="field right">
              <%= label_tag "Retail estimate :" %> <br>
              <%= text_field_tag :retail_estimate %>
          </div>
        </div>

          <div class="actions"><%= submit_tag('submit') %></div>

      <% end %>

    </div>
