<% @page_title = "Post A Wig" %>
<div class="Post_Wig" id="form">

  <h1>Post A Wig</h1>

  <!-- Drop-down selections are in helpers/application_helper.rb -->
  <%= form_tag(user_wigs_path, method: 'post') do %>

      <div class="field">
          <%= label_tag :color %> :
          <%= select_tag 'color', options_for_select(wig_colors) %>
      </div>

      <div class="field">
          <%= label_tag :length %> :
          <%= select_tag 'length', options_for_select(wig_lengths) %>
      </div>

      <div class="field">
          <%= label_tag :gender %> :
          <%= select_tag 'gender', options_for_select(wig_genders) %>
      </div>

      <div class="field">
          <%= label_tag :material %> :
          <%= select_tag 'material', options_for_select(wig_materials) %>
      </div>

      <div class="field">
          <%= label_tag :construction %> :
          <%= select_tag 'construction', options_for_select(wig_constructions) %>
      </div>

      <div class="field">
          <%= label_tag :condition %> :
          <%= select_tag 'condition', options_for_select(wig_conditions) %>
      </div>

      <div class="field">
          <%= label_tag :retail_estimate %> :
          <%= text_field_tag :retail_estimate %>
      </div>

      <div class="field">
          <%= label_tag :size %> :
          <%= select_tag 'size', options_for_select(wig_sizes)  %>
      </div>

      <div class="field">
          <%= label_tag :texture %> :
          <%= select_tag 'texture', options_for_select(wig_textures) %>
      </div>

      <div class="field">
          <%= label_tag :style %> :
          <%= select_tag 'style', options_for_select(wig_styles) %>
      </div>

      <div class="actions"><%= submit_tag('submit') %></div>

  <% end %>

</div>
