<!DOCTYPE html>
<html>
<head>
  <title>Wigglez</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
</head>
<body>

<div class="container">

  <!-- NAV BAR -->
  <nav class="nav">
    <ul class="nav-list">
        <li>About Us </li>
        <li>Contact Us </li>
        <li>Facebook Link </li>
        <li>Twitter Link </li>
        <li>Github Link </li>
    </ul>
  </nav>

  <!-- LOGO AND QUOTE -->
  <div class="landing-page-content">
    <header>
      <h1><img src="http://placehold.it/350x150"></h1>
      <blockquote>Da Motto</blockquote>
    </header>

    <!-- SIGN IN AND SIGN UP BUTTONS -->
    <div class="sign">
      <%= link_to "Sign In", sign_in_path, class: 'sign-in' %>
      <%= link_to "Sign Up", sign_up_path, class: 'sign-up' %>
    </div>
  </div>

  <!-- SUCCESS STORIES -->
  <div class="success-stories">
    <h2>Success Stories</h2>
    <div class="success-story">
      <img class="success-pic" src="http://placehold.it/100x100">
      <p>Name</p>
      <blockquote>Lorem ipsum dolor sit amet, simul definitiones an vix, consequat voluptatum nec ut. Usu legimus eligendi perfecto at, inani tation cum ut, vel ex eripuit periculis complectitur. Cu vim epicurei invidunt, id eam augue intellegat, quaeque scaevola instructior at duo. Ne vim velit praesent, mea ne tempor interpretaris, modus paulo ut qui. Ad aeque prodesset reprehendunt qui, ut facete nominati qualisque est, mel ad virtute veritus lucilius. Ad eos recusabo intellegam, ei eos harum populo.</blockquote>
    </div>
    <div class="success-story">
      <img class="success-pic" src="http://placehold.it/100x100">
      <p>Name</p>
      <blockquote>Lorem ipsum dolor sit amet, simul definitiones an vix, consequat voluptatum nec ut. Usu legimus eligendi perfecto at, inani tation cum ut, vel ex eripuit periculis complectitur. Cu vim epicurei invidunt, id eam augue intellegat, quaeque scaevola instructior at duo. Ne vim velit praesent, mea ne tempor interpretaris, modus paulo ut qui. Ad aeque prodesset reprehendunt qui, ut facete nominati qualisque est, mel ad virtute veritus lucilius. Ad eos recusabo intellegam, ei eos harum populo.</blockquote>
    </div>
  </div>

</div>

</body>
</html>
